{% extends "layout.html" %}
{% from 'includes/_form_macro.html' import field_with_errors, file_field %}

{% block content %}

  <div class="content-section">

    <div class="media d-flex align-items-center mb-4">
      <img class="rounded-circle account-img me-3"
           src="{{ image_file }}"
           alt="Аватар пользователя {{ current_user.username }}">
      <h2 class="account-heading mb-0">{{ current_user.username }}</h2>
    </div>

    <form method="POST" action="" enctype="multipart/form-data">
      {{ form.hidden_tag() }}

      <fieldset>
        <legend class="border-bottom mb-4">Данные аккаунта</legend>

        {{ field_with_errors(form.username) }}
        {{ field_with_errors(form.email) }}
        {{ file_field(form.picture) }}
      </fieldset>

      <div class="mb-3">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>

    </form>

  </div>

{% endblock content %}
