<!DOCTYPE html>
<html lang="ru" data-bs-theme="dark">
  <head>
    {% include 'includes/_head.html' %}
  </head>

  <body>
    <header class="site-header">
      {% include 'includes/_header.html' %}
    </header>

    <main role="main">
      <div class="container-fluid">
        <div class="row">
          <div class="margin-right-sidebar col-md-2">
            {% include 'includes/_sidebar.html' %}
          </div>
          <div class="padding-content col-md-10">
            {% include 'includes/_flash_msg.html' %}

            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </main>

    <footer class="custom_footer mt-4 align-items-center">
      {% from 'includes/_footer_macro.html' import footer_new %}
      {{ footer_new(current_user) }}
    </footer>

    {% include 'includes/_scripts.html' %}
  </body>

</html>
