{% extends "layout.html" %}
{% from 'includes/_form_macro.html' import field_with_errors %}

{% block content %}

  <div class="content-section">
    <form method="POST" action="">

      {{ form.hidden_tag() }}

      <fieldset>
        <h1 class="mb-4">Вход</h1>

        {{ field_with_errors(form.email) }}
        {{ field_with_errors(form.password) }}

        <div class="form-check mb-3">
          {{ form.remember(class="form-check-input") }}
          {{ form.remember.label(class="form-check-label") }}
        </div>
      </fieldset>

      <div class="mb-3">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>

    </form>
  </div>

{% endblock content %}
