{% extends "layout.html" %}
{% from 'includes/_form_macro.html' import field_with_errors %}

{% block content %}

  <div class="content-section">
    <form method="POST" action="">

      {{ form.hidden_tag() }}

      <fieldset>
        <h1 class="mb-4">Регистрация</h1>

        {{ field_with_errors(form.username) }}
        {{ field_with_errors(form.email) }}
        {{ field_with_errors(form.password) }}
        {{ field_with_errors(form.confirm_password) }}
      </fieldset>

      <div class="mb-3">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>

    </form>
  </div>

{% endblock content %}
