<nav class="navbar navbar-expand-md navbar-dark backcolor-header fixed-top">

      {% if lang %}
        <a class="navbar-brand mr-4" href="{{ url_for('art_main.art_home') }}">Сайт о программировании на {{ lang }}</a>
      {% else %}
        <a class="navbar-brand mr-4" href="{{ url_for('art_main.art_home') }}">Сайт о программировании</a>
      {% endif %}


      <div class="collapse navbar-collapse" id="navbarToggle">
        <!-- Navbar Left Side -->
        <div class="navbar-nav mr-auto">
        </div>

        <!-- Navbar Right Side -->
        <div class="navbar-nav">
          {% if current_user.is_authenticated %}
            <a class="nav-item nav-link" href="{{ url_for('art_main.art_home') }}">Articles</a>
            <a class="nav-item nav-link" href="{{ url_for('art_main.art_manage') }}">Управление</a>
            <a class="nav-item nav-link" href="{{ url_for('users.account') }}">Account</a>
            <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>
            <a class="nav-item nav-link" href="{{ url_for('main.about') }}">About</a>
            <a class="nav-item nav-link theme-toggle" onclick="toggleTheme()">Тема</a>
          {% else %}
            <a class="nav-item nav-link" href="{{ url_for('art_main.art_home') }}">Articles</a>
            <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
            <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
            <a class="nav-item nav-link" href="{{ url_for('main.about') }}">About</a>
            <a class="nav-item nav-link theme-toggle" onclick="toggleTheme()">Тема</a>
          {% endif %}
        </div>
      </div>

  </nav>
