
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <!-- Подключаем стили highlight.js -->
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">

  <!-- Подключаем наши стили -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='art_css/base.css') }}">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='art_css/dark-theme.css') }}"  id="theme-link">


  {% if lang %}
    <title>Сайт о программировании на {{ lang }}</title>
  {% elif title %}
    <title>{{ title }} - Сайт о программировании</title>
  {% else %}
    <title>Сайт о программировании</title>
  {% endif %}
